/* Main Rules Begin */

    body{
        background-color: #f4f4f4;
    }

    .container{
        width: 1170px;
        margin: auto;
    }

/* Main Rules End */

/* Header Begin */


/* Header End */

/* Login Form Begin */

    .login{
        width: 300px;
        margin: 100px auto;
    }

    .login h4{
        color: #777;
    }

    .login input{
        margin-bottom: 10px;
    }

    .login .form-control{
        background-color: #eAeAeA;
    }

    .login .btn:hover{
        background-color: #008dde;
    }

/* Login Form End */

/* Footer Begin */

footer{
    background-color: #191E22;
    color: #6A6E71;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer span{
    font-size: 14px;
}

footer ul{
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;
    cursor: default;
}

footer ul li{
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Footer End */